.navbar {
  display: grid;
  grid-gap: 30px;
  grid-auto-flow: column;
  align-items: center;
}

.nav__item {
  color: black;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 100ms ease;
}

.nav__item:hover,
.nav__item__active {
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}
