nav.page-nav {
  display: flex;
  align-items: center;

  height: 50px;
  padding: 10px 25px;
}

.spacer {
  flex-grow: 1;
}

nav.page-nav a {
  margin: 10px;
  text-decoration: none;
  font-size: large;
}
